

h1{ 
    text-align: center;
    font-size: 20pt;
    font-weight: 1000;
}

body{ text-align: center }


.maViz {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;

}

